@import "tailwindcss";

@theme {
  --radius-md: 0.375rem; 
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --color-background: #0F0F0F;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}